<macro body()>
    <if(input.label)>${input.label}</if>
    <else-if(input.renderBody)>
      <include(input.renderBody)/>
      <if(input.isDropdown)>
            &nbsp;
            <span class="caret"/>$
        </if>
    </else-if>
</macro>
<a href=input.href ${input.rootAttrs} if(input.type === "link")>
    <body/>
</a>
<button ${input.rootAttrs} else>
    <body/>
</button>
