<def function="body">
    <if test="data.label">
        ${data.label}
    </if>
    <else-if test="data.renderBody">
        <invoke function="data.renderBody(out)"/>
    </else>

    <if test="data.isDropdown">
        &nbsp;
        <span class="caret"></span>$
    </if>
</def>

<a href="${data.href}" attrs="data.rootAttrs" if="data.type === 'link'">
    <invoke function="body()"/>
</a>
<button attrs="data.rootAttrs" else>
    <invoke function="body()"/>
</button>

