<macro body()>
    <if(data.label)>${data.label}</if>
    <else-if(data.renderBody)>
        <invoke data.renderBody(out)/>
        <if(data.isDropdown)>
            &nbsp;
            <span class="caret"/>$
        </if>
    </else-if>
</macro>
<a href=data.href ${data.rootAttrs} if(data.type === "link")>
    <body/>
</a>
<button ${data.rootAttrs} else>
    <body/>
</button>
